* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0f0f0f;
    overflow: hidden;
    
}
a {
    text-decoration: none;
}
.logo_super {
    align-items: center;
    animation: scale-up-vertical-center 0.4s;
    display: flex;
    justify-content: center;
    position:absolute;
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 30px;
    left: 30px;
    -webkit-animation: scale-up-vertical-center 0.4s;
}

.circle {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 2px solid #16b8f3;
    box-shadow: 0 0 10px #16b8f3,                0 0 20px #16b8f3,                0 0 30px #16b8f3,                0 0 40px #16b8f3,                0 0 70px #16b8f3;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: aura-animation 5s linear infinite;
    -webkit-animation: aura-animation 5s linear infinite;
}

.logo-text {
    font-size: 10px;
    font-weight: bold;
    color: #16b8f3;
    /* color: #0ff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    background-color: #0f0f0f;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.presentation {
    display: flex;
    position: relative;
}
.iam {
    margin-top: 84px;
    width: 70%;
}
.name {
    align-items:flex-end;
    display: flex;
    padding-left: 104px;
}
.sintx {
    margin: 12px ;
}
.description{
    align-items:center;
    display: flex;
    padding-left: 160px;
    
}
.res_word {
    color: #57F59C;
    font-style: italic;
}
.contact {
    background-color: #16b8f3;
    height: 100%;
    width: 30%;

}
.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.programming_image {
    height: 250px;
    width: 250px;
}
.my_link img {
    height: 50px;
    margin: 20px;
    width: 50px;
    
}
.down_section{
    bottom: 2px;
    left: 30%;
    position: absolute;
}
.down_section img {
    animation: pulse 2s infinite;  
    align-self:center;
    height: 40px;
    width: 42px;
}

@keyframes pulse {
    0% {
        opacity: 1; /* Comienza con opacidad completa (visible) */
        transform: scale(1); /* Escala normal */
    }
    50% {
        opacity: 0.5; /* Reduce la opacidad a la mitad (semivisible) */
        transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    }
    100% {
        opacity: 1; /* Vuelve a la opacidad completa (visible) */
        transform: scale(1); /* Vuelve al tamaño normal */
    }
}







.skills {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
} 

/* .language_icon img{
    height: 70px;
    width: 70px;
} */
.about_me {
    color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    height: 60%;
    padding: 0px 50px;
    width: 100%;
}
.information {
    padding: 0 20px;
    width: 50%;
}
.information p{
    font-size: 12px;
    text-align: justify;
    

   
}

.yout {
    align-items: center;
    color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.yout a {
    align-self: center;
    display: inline;
    color: #0f0f0f;
    font-size: 14px;
    font-weight: bold;
    text-align: end;
   

}
.yout a:hover {
    color:#16b8f3;
}
.yout span {
    color: #57F59C;
}
.you_icon {
    height: 12px;
    width: 15px;
}
.language_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%; 
}

.language_icon img {
    width: 50px; 
    height: 50px; 
    margin: 0 40px; 
    transition: transform 0.2s ease-in-out; 
}

.language_icon img:hover {
    transform: translateY(-10px);
}
.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.box p {
    color: #16b8f3;
   
}











.projects{
    background-color: red;
}


@keyframes scale-up-vertical-center {
    0%{transform:scaleY(.2)}
    100%{transform:scaleY(1)}
}
@keyframes aura-animation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.6;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

